/* Importa o arquivo CSS que importa a fonte Ravie */
@import "fonts/ravie.css";

body{
	margin: 0;
}

#cabecalho{
    text-align: right;
    margin-right: 60px;
 }

#cabecalho h1{
	color: #e90c0c;
	font-size: 36px;
	font-family: 'Ravie';
	margin-bottom: 0;
}

#cabecalho h2{
	color: #333;
	font-size: 24px;
	font-family: 'Trebutchet MS';
	font-style: normal;
	margin: 0;
}

#cabecalho em{
	color: #d027aa;
	font-size: 24px;
	font-family: 'Trebutchet MS';
	font-style: normal;
}

#recipiente {
	background-image: linear-gradient(180deg,#f6f1b2,#4599b2);
	border-left: 1px solid;
	border-color: #d3d3d3;
	margin: auto;	
	width: 800px;
	position: relative;
	height: 750px;
}

#cardapio {
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid;
	border-color: #aac0ae;
	width: 646px;
	position: absolute;
	right: 0;
	top: 105px;
	background-color: rgba(255,255,255,0.2);
	padding-right: 20px;
	padding-left: 20px;
	font-family: 'Verdana';
	position: absolute;
}

#cardapio p{
	font-size: 14px;
	color: #333;
}

#cardapio h3{
	font-size: 18px;
	font-style: bold;
	color: #333;
}

#cardapio span{
	float: right;
}

#lateral{
	top: 0;
	bottom: 0;
 	width: 154px;
	box-sizing: border-box;
	position: absolute;
}

#lateral h2{
	font-family: 'Verdana';
	font-size: 48px;
	font-style: bold;
	color: #333;
	transform: rotate(270deg);
	margin-top: 320px;
}

#ticket {
	position: fixed;
	top: 295px;
	left: -69px;
	transition: left 100ms ease-out;
}

#ticket:hover {
	left: 0;
}

#rodape {
	position: absolute;
	bottom: 25px;
	right: 15px;
}
  
#siri {
	position: absolute;
	top: 7px;
	left: -10px;
}

#bolhas {
	position: absolute;
	right: 20px;
	bottom: 125px;
}

#peixe {
	position: absolute;
	left: -44px;
	bottom: 0;
}